/* style for game.js */
.gridrow:after {
  content: "";
  display: table;
}

.gridrow {
  width: 100%;
  height: 12.5%;
}

.squarecontainer {
  width: 12.5%;
  min-height: 100%;
  float: left;
  position: relative;
}

.arrow {
  z-index: 5;
}

.fadearrow {
  z-index: 5;
  animation-name: fadeout;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

.square {
  pointer-events: none;
  animation-name: fadein;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

.squaretrigger {
  position: absolute;
  width: 100%;
  height: 100%;
  animation-name: fadein;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

.even {
  background-color: #beaed4;
}

.odd {
  background-color: #fdc086;
}

.select {
  background-color: #ffffb3;
}

.highlight {
  background-color: #7fc97f;
}

.premove_init {
  background-color: #f08080
}

.premove_dest {
  background-color: #8b0000
}

.chessboard {
  width: 64vmin;
  height: 64vmin;
}

.chessboardvert {
  width: 90vmin;
  height: 90vmin;
}

.innerimg {
  width: calc(100% - 6px);
  height: calc(100% - 2px);
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.metabox {
  width: 32vmin;
  height: 100%;
  background-color: #386cb0
}

.gamecontainer {
  width: 96vmin;
  height: 70.6vmin;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.resourcebar {
  width: 64vmin;
  height: 6.4vmin;
  display: flex;
  background-color: rgba(0, 0, 255, 0.2);
}

.resourcebarvert {
  width: 90vmin;
  height: 9vmin;
  display: flex;
  background-color: rgba(0, 0, 255, 0.2);
}

.resource {
  width: calc(10% - 4px);
  height: calc(100% - 4px);
  float: left;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
}

.resourceinner {
  width: 100%;
  height: 100%;
  background-color: #a0a;
  animation-name: fadeinresource;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

.info {
  width: 90%;
  height: 2rem;
  margin: 5%;
  padding: 2%;
  box-sizing: border-box;
  font-size: 1rem;
}

.infovert {
  height: 2rem;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
}

.online {
  background-color: #ccebc5;
}

.offline {
  background-color: #fbb4ae;
}

.ready {
  width: 90%;
  height: 4rem;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.5rem;
}

.readyvert {
  height: 2rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  min-width: 7.5rem;
}

.console {
  width: 88%;
  height: calc(58.4vmin - 17.5rem);
  background-color: lightgray;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  padding: 1%;
  font-size: 1.3rem;
  font-style: italic;
  text-align: left;
  color: #555;
  overflow: auto;
}

.consolevert {
  margin-left: auto;
  margin-right: auto;
  width: 90vmin;
  background-color: lightgray;
  overflow: auto;
}

.consoleinner {
  margin: 5px;
}

.gamectrl {
  width: 90%;
  margin: 5%;
  height: 4rem;
  display: flex;
}

.controlbutton {
  width: 4rem;
  height: 4rem;
  background-color: darkgray;
}

.draw {
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.draw:hover {
  background-color: #669922;
  color: #eee;
}

.resign {
  margin-left: auto;
  margin-right: 5%;
}

.resign:hover {
  background-color: #ee5511;
  color: #eee;
}

.infoRow {
  width: 90vmin;
  height: 2rem;
  margin-top: 1%;
  margin-bottom: 1%;
  position: relative;
  display: flex;
}

.ctrlRow {
  width: 90vmin;
  height: 4rem;
  display: flex;
}

.chat_input {
  width: calc(90% - 5px);
  margin-bottom: 5%;
  font-size: 1.3rem;
}

.text_input_wrapper {
  text-align: center;
}

.gameOverMessage {
  font-size: max(6vh, 1rem);
  color: #a61c00;
  text-align: center;
}

@keyframes fadeinresource {
  0% {
    opacity: 0;
    width: 0%;
  }
  1% {
    opacity: 0.1;
    width: 1%;
  }
  99% {
    opacity: 0.5;
    width: 99%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0.1;
  }
  99% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

.tabs {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
}

.tabwindow {
  margin-left: auto;
  margin-right: auto;
}

.tab {
  flex: 1;
  text-align: center;
  font-size: 2rem;
  color: #777;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 4px solid black;
  background-color: lightgray;
}

.tab:hover {
  background-color: darkgray;
  color: #000;
}

.tabselect {
  border-bottom: 0;
  background-color: darkgray;
  color: #000;
  font-weight: bold;
}

.tab:last-child {
  border-right: 2px solid black;
}

.roomli {
  height: 1.9rem;
  font-size: 1.4rem;
  margin: 5px;
  position: relative;
  border: 2px solid;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;

}

.empty_border {
  border-color: lightgray;
}

.outgoing_public_border {
  border-color: #a6cee3;
}

.outgoing_private_border {
  border-color: #1f78b4;
}

.incoming_public_border {
  border-color: #b2df8a;
}

.incoming_private_border {
  border-color: #33a02c;
}

.practice_border {
  border-color: gray;
}

.outgoing_public_background {
  background-color: #a6cee3;
}

.outgoing_private_background {
  background-color: #1f78b4;
}

.incoming_private_background {
  background-color: #33a02c;
}

.incoming_public_background {
  background-color: #b2df8a;
}

.practice_background {
  background-color: gray;
}

.floater {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  display: flex;
}

.background {
  opacity: 0.2;
}

.roomli:hover > .background {
  opacity: 0.5;
}

.action {
  opacity: 0;
  margin: 2px;
}

.roomli:hover > .action {
  opacity: 0.8;
}

.descriptor {
  z-index:2;
  height: 100%;
  width:100%;
  position: absolute;
  top:0;
  left: 0;
}

.challenger {
  float: left;
  margin: 2px;
}

.subdescription {
  float:right;
  margin: 2px;
}

.main_display {
  width: 50%;
  height: 50vh;
  min-width: min(28rem, 90vh);
  max-width: 750px;
  border: 3px solid gray;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
}

.button_row {
  width: 50%;
  min-width: min(28rem, 90vh);
  max-width: 750px;
  height: max(3.5vw, 3.5rem);
  display: flex;
  background-color: #bbbe;
  margin-right: auto;
  margin-left: auto;
  border: 3px solid #bbbe;
  flex-wrap: wrap;
}

.spectate_border {
  border-color: gray;
}

.descriptor_left {
  flex: 1;
}

.descriptor_left:hover > .spectate_white {
  opacity: 1;
}

.descriptor_user_left {
  z-index: 2;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 2px;
}

.descriptor_right {
  flex: 1;
  text-align: right;
}

.spectate_black {
  background-color: #beaed4;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}

.spectate_white {
  background-color: #fdc086;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}

.descriptor_right:hover > .spectate_black {
  opacity: 1;
}

.descriptor_user_right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  padding: 2px;
  z-index: 2;
}

.versus {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.8rem;
  z-index: 0;
}

.action_white {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(50% - 1.8rem);
  height: 100%;
  text-align: right;
  opacity: 0;
}

.descriptor_left:hover > .action_white {
  opacity: 0.5;
}

.action_black {
  position:absolute;
  top: 0;
  right: 0;
  width: calc(50% - 1.8rem);
  height: 100%;
  text-align: left;
  opacity: 0;
}

.descriptor_right:hover > .action_black {
  opacity: 0.5;
}

#loginBox {
  margin-left:auto;
  margin-right:auto;
  width: 50%;
  height: 50vh;
  min-width: 350px;
  max-width: 400px;
  background-color: lightgray;
}

.entry {
  font-size:1.2rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.text_input {
  font-size: 1.2rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button_input_row {
  height: 4rem;
  display: flex;
  margin-top: auto;
}

.button_input {
  flex: 1;
  font-size: 1rem;
  margin: 0.5rem;
}
