
@keyframes expand {
  0% {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.1, 0.1);
  }
  100% {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1, 1);
  }
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #bbbe;
  animation-name: expand;
  animation-duration: 0.5s;
  transform: translate(-50%, -50%);
}

.popupcontent {
  padding: 5vh;
}

.optionrow {
  position:absolute;
  width: 100%;
  height: max(3.5vw, 3.5rem);
  display: flex;
  background-color: #bbbe
}

.optionbutton {
  font-size: max(2vw, 2rem);
  margin: max(0.5vw, 0.5rem);
}

.optionbutton:hover {
  opacity: 0.5;
}

.first {
  margin-left: auto;
}
